Repository facelessuser/sublime-markdown-popups, pull requests merged in 2020-04, with the labels that each got.

#81 Add LSP to the list of mdpopups consumers
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/index.md
Labels: C: docs, S: approved

#83 remove: cmd and args
  docs/src/markdown/api.md
  st3/mdpopups/__init__.py
Labels: C: API, C: docs, C: source, S: approved

#84 Prep for 3.6.2 release
  docs/src/markdown/changelog.md
  mkdocs.yml
  st3/mdpopups/__init__.py
  st3/mdpopups/version.py
  tox.ini
Labels: C: API, C: docs, C: infrastructure, C: source, S: approved
