Repository facelessuser/sublime-markdown-popups, pull requests merged in 2020-08, with the labels that each got.

#95 Fix font style acquiring
  docs/src/markdown/changelog.md
  st3/mdpopups/st_scheme_template.py
  st3/mdpopups/version.py
Labels: C: docs, C: scheme-support, C: source, S: approved

#97 Update json to syntax mapping for ST4
  st3/mdpopups/st_mapping.py
Labels: C: code-highlight, C: languages, C: source, S: approved

#99 Fix plain text fallback
  docs/src/markdown/about/changelog.md
  st3/mdpopups/st_code_highlight.py
  st3/mdpopups/version.py
Labels: C: code-highlight, C: docs, C: source, S: approved

#100 Don't strip newlines
  docs/src/markdown/about/changelog.md
  st3/mdpopups/__init__.py
  st3/mdpopups/version.py
Labels: C: API, C: docs, C: source, S: approved

#101 Remove deprecated parameters `nl2br` and `allow_code_wrap`
  README.md
  docs/src/markdown/_snippets/links.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/api.md
  docs/src/markdown/faq.md
  docs/src/markdown/index.md
  docs/src/markdown/installation.md
  docs/src/markdown/settings.md
  docs/src/markdown/styling.md
  st3/mdpopups/__init__.py
  st3/mdpopups/version.py
Labels: C: API, C: docs, C: source, S: approved
