Repository facelessuser/sublime-markdown-popups, pull requests merged in 2021-02, with the labels that each got.

#115 Add jsonc mapping
  st3/mdpopups/st_mapping.py
Labels: C: code-highlight, C: languages, C: source, S: approved

#117 Fix extra code newlines
  docs/src/markdown/about/changelog.md
  st3/mdpopups/st_code_highlight.py
Labels: C: code-highlight, C: docs, C: source, S: approved

#118 Add support for new Markdown and Pymdown Extensions
  docs/src/markdown/about/changelog.md
  st3/mdpopups/__init__.py
  st3/mdpopups/mdx/highlight.py
  tox.ini
Labels: C: API, C: code-highlight, C: docs, C: infrastructure, C: source, S: approved

#109 Use the coloraide dependency
  .gitignore
  .pyspelling.yml
  .sublime-dependency
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/settings.md
  st3/mdpopups/__init__.py
  st3/mdpopups/coloraide/__init__.py
  st3/mdpopups/coloraide/__meta__.py
  st3/mdpopups/coloraide/colors/__init__.py
  st3/mdpopups/coloraide/colors/_contrast.py
  st3/mdpopups/coloraide/colors/_convert.py
  st3/mdpopups/coloraide/colors/_cylindrical.py
  st3/mdpopups/coloraide/colors/_distance.py
  st3/mdpopups/coloraide/colors/_gamut.py
  st3/mdpopups/coloraide/colors/_interpolate.py
  st3/mdpopups/coloraide/colors/_parse.py
  st3/mdpopups/coloraide/colors/_range.py
  st3/mdpopups/coloraide/colors/_rgb.py
  st3/mdpopups/coloraide/colors/_space.py
  st3/mdpopups/coloraide/colors/a98_rgb.py
  st3/mdpopups/coloraide/colors/display_p3.py
  st3/mdpopups/coloraide/colors/hsl.py
  st3/mdpopups/coloraide/colors/hsv.py
  st3/mdpopups/coloraide/colors/hwb.py
  st3/mdpopups/coloraide/colors/lab.py
  st3/mdpopups/coloraide/colors/lch.py
  st3/mdpopups/coloraide/colors/prophoto_rgb.py
  st3/mdpopups/coloraide/colors/rec2020.py
  st3/mdpopups/coloraide/colors/srgb.py
  st3/mdpopups/coloraide/colors/xyz.py
  st3/mdpopups/coloraide/css/__init__.py
  st3/mdpopups/coloraide/css/colors/__init__.py
  st3/mdpopups/coloraide/css/colors/css_names.py
  st3/mdpopups/coloraide/css/colors/hsl.py
  st3/mdpopups/coloraide/css/colors/hwb.py
  st3/mdpopups/coloraide/css/colors/lab.py
  st3/mdpopups/coloraide/css/colors/lch.py
  st3/mdpopups/coloraide/css/colors/srgb.py
  st3/mdpopups/coloraide/util.py
  st3/mdpopups/colorbox.py
  st3/mdpopups/frontmatter.py
  st3/mdpopups/imagetint.py
  st3/mdpopups/rgba.py
  st3/mdpopups/st_code_highlight.py
  st3/mdpopups/st_color_scheme_matcher.py
  st3/mdpopups/st_colormod.py
  st3/mdpopups/st_pygments_highlight.py
  st3/mdpopups/st_scheme_template.py
  st3/mdpopups/tmtheme.py
  tox.ini
Labels: C: API, C: code-highlight, C: colors, C: docs, C: images, C: infrastructure, C: scheme-support, C: source, S: approved
